* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body, html {
  background-color: lightgray;
  overflow: hidden;
  position: relative;
}

/*Header Tag*/
header {
  background-image: url(../images/pattern-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;

}

/*/////////////////////////////////////////////////////////////*/
/*Search bar and button items*/
/*Input Group for the search bar and button*/
.input-group {

}

.input-container {
  width: 50%;
}

/*Search Bar*/
.search-bar {
  border: none;
  border-bottom-left-radius: .5em;
  border-top-left-radius: .5em;
  font-size: 18px;
  outline: none;
}

/*Search Button*/
.search-button {
  background-color: hsl(0, 0%, 17%);
  border: none;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
  color: white;
}

/*/////////////////////////////////////////////////////////////*/
/*IP Details Container*/
/*Container for the items*/
.ip-detail-container {
  background-color: white;
  border-radius: .5em;
  margin-top: 2em;
  width: 80%;
  position: absolute;
  z-index: 1000;
}

/*Title of the details*/
.ip-title {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
  font-weight: 500;
}

/*Border Line on the right of the details*/
.border-line {
  border-right: 1px solid hsl(0, 0%, 59%);
}

/*/////////////////////////////////////////////////////////////*/
/*Map details*/
#mapid {
  min-height: 450px;
  width: 100%;
  height: calc(100vh - 250px);
}

/*/////////////////////////////////////////////////////////////*/
/*media*/
@media only screen and (max-width:390px) {
  .border-line {
    border: none;
  }

}

@media only screen and (max-width:1000px) {
  .row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .input-container {
    width: 85%;
  }

  .border-line {
    border: none;
  }
}
